.wrapper {
  display: grid;
  grid-template-rows: 30vw 1fr;
}

.dinamic-container {
  background-color: beige;
  display: grid;
  grid-template-rows: 5vw 1fr;
}

.request-block {
  display: grid;
  grid-template-columns: 20% 10%;
  gap: 70%;
}

.response-list__item-text span {
  font-size: 14px !important;
  display: grid!important;
  justify-self: start !important;
}


