.wrapper {
  display: grid;
  grid-template-rows: 30vw 1fr;
}

.dinamic-past {
  background-color: beige;
  display: grid;
  grid-template-rows: 5vw 1fr;
}

.dinamic-past__header {
  display: grid;
  grid-template-columns: 20% 10%;
  gap: 70%;
}



